@import "../../assets//styles/variables.scss";
@import "../../assets//styles/global.scss";
.filter-by-date{
    padding: 10px;
}
.shift-details{
    padding-left: 170px;
}
.shift-details-card{
    padding-bottom: 20px;
}