<section class="create-shift" *ngIf="!next">
    <section class="row">
        <div class="col-12 row g-0 mb-3 align-items-center">
            <span class="col-1">
                <img class="pointer back-btn" src="../../assets/Icons/arrow-left-2.svg" (click)="goBack()" />
            </span>
            <span class="col-11">
                <div class="create-shift__title"> Create new shift </div>
            </span>
        </div>
        <div class="col-12">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item" *ngFor="let item of breadcrumbList; let i = index"
                    [class.active]="i===breadcrumbList.length-1">
                    <a [routerLink]="item.path" *ngIf="i!==breadcrumbList.length-1">
                        {{ item.name }}
                    </a>
                    <span *ngIf="i===breadcrumbList.length-1">{{ item.name }}</span>
                </li>
            </ol> -->
        </div>
    </section>


    <form class="example-form" [formGroup]="createShiftForm">
        <section class="row g-0 mb-5">
            <div class="col-6">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Shift Label</mat-label>
                    <input matInput formControlName="shiftName" id="shift-name" placeholder="enter shift label here"
                        required>
                    <mat-error *ngIf="createShiftForm.controls.shiftName.errors">
                        Shift Name is Required
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field>
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                </mat-form-field> -->
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Start Date</mat-label>
                    <input matInput type="date" formControlName="startDate">
                    <!-- <mat-datepicker-toggle matSuffix></mat-datepicker-toggle> -->
                    <!-- <mat-datepicker #picker></mat-datepicker> -->
                </mat-form-field>

                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Start Time</mat-label>
                    <input matInput formControlName="startTime" id="startTime" placeholder="select or enter start time"
                        required pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]">
                    <mat-error *ngIf="createShiftForm.controls.startTime.errors?.pattern">
                        Must be with type HH:MM
                    </mat-error>
                </mat-form-field>
            </div>

            <div class=" col-6 px-2">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Shift Role</mat-label>
                    <mat-select formControlName="userRole" id="role" aria-required="true"
                        aria-placeholder="select role">
                        <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field>
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
                </mat-form-field> -->
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>End Date</mat-label>
                    <input matInput type="date" formControlName="endDate">
                    <!-- <mat-datepicker-toggle matSuffix></mat-datepicker-toggle> -->
                    <!-- <mat-datepicker #endPicker></mat-datepicker> -->
                </mat-form-field>

                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>End Time</mat-label>
                    <input matInput formControlName="endTime" id="endTime" placeholder="select or enter end time"
                        required pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]">
                    <mat-error *ngIf="createShiftForm.controls.endTime.errors?.pattern">
                        Must be with type HH:MM
                    </mat-error>
                    <mat-error
                        *ngIf="checkTimeValidation(createShiftForm.controls.startTime, createShiftForm.controls.endTime)">
                        Start Time Must be Less Than End Time
                    </mat-error>
                </mat-form-field>
            </div>
        </section>
    </form>
    <section class="row g-0 justify-content-end">
        <div class="col-6 px-2 text-end">
            <button class="btn login__btn full-width" (click)="createNewShift()"
                [disabled]="!createShiftForm.valid">Next</button>
        </div>
    </section>
</section>

<div *ngIf="next">
    <app-assign-shift-members [shiftData]="shiftData" [freeWorkforcesList]="freeWorkforcesList"
        [supervisorsList]="supervisorsList">
    </app-assign-shift-members>
</div>