.mat-radio-label-custom {
  padding-right: 15px;
  ;
}

.row .col-4 {
  padding: 7px 30px;
}

.row .col-3 {
  padding: 20px 10px;
}

.row {
  background-color: #F8F9FA;
}

.total {
  text-align: center;
  position: relative;
  padding: 45px;
  background-color: #F8F9FA;
  margin: 30px -11px;
}

.header {
  padding-bottom: 35px;
  padding-top: 20px;
}

.mat-spinner {
  position: absolute;
  top: 50%;
  left: 44%;
}
