.on-back-arrow {
    position: relative;
    top: 35px;
  }
  
  .header-title {
    padding: 0px 45px;
  }
  
  .w-100 {
    width: 100%;
  }

  .breadcrumb-content {
    display: flex;
    padding: 0 42px;
  }
  
  .breadcrumb {
    padding: 0 5px;
  }