.on-back-arrow {
  position: relative;
  top: 35px;
}

.header-title {
  padding: 0px 45px;
}

.w-100 {
  width: 100%;
}

.mat-error {
  position: relative;
  top: -12px;
  left: 10px;
}

.mat-spinner {
  position: absolute;
  top: 50%;
  left: 44%;
}

.breadcrumb-content {
  display: flex;
  padding: 0 42px;
}

.breadcrumb {
  padding: 0 5px;
}
